.main {
  .slide {
    margin-bottom: 180px;
    .slide-itens {
      .slide-1 {
        @include slide(url(../src/img/banner-01.jpg));
      }
      .slide-2 {
        @include slide(url(../src/img/banner-02.jpg));
      }
      .slide-3 {
        @include slide(url(../src/img/banner-03.jpg));
      }
      .info-slide {
        @include d("m") {
          padding-top: 200px;
          p {
            font-size: 3.125rem;
            line-height: 60px;
          }
        }
        padding: 10% 0px 0px 20%;
        animation: show-banner 0.9s forwards;
      }
      .tab-content {
        display: none;
        &.ativo {
          display: block;
        }
      }
    }
  }
}
.conteudo-home {
  @include max-width;
  @include flexbox(center, center);
  flex-wrap: wrap;
  .conteudo-home-itens {
    @include d("m") {
      flex-direction: column;
      margin-left: 8px;
    }
    @include d("t") {
      flex-direction: column;
      margin-left: 8px;
    }
    @include flexbox(start, center);
    gap: 40px;
    .accordion {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
      .titulo-accordion {
        span {
          @include font-1(16);
          font-weight: 900;
          position: relative;
          color: #ee626b;
          padding-left: 10px;
        }
        &::before {
          content: "";
          display: inline-block;
          width: 3px;
          height: 16px;
          background-color: #ee626b;
          position: absolute;
        }
        h2 {
          padding-top: 20px;
          @include font-1(48);
        }
      }
      width: 460px;
      @include d("m") {
        width: 350px;
      }
    }
  }
  margin-bottom: 80px;
}

.section-video {
  margin-bottom: 350px;
  background-image: url(../src/img/video-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  @include d("m") {
    height: 650px;
    margin-bottom: 100px;
  }
  @include d("t") {
    height: 650px;
    margin-bottom: 200px;
  }
  .container-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .titulo-video {
      text-align: center;
      padding: 100px 0;
      span {
        @include font-1(16);
        font-weight: 900;
        position: relative;
        color: #ee626b;
        padding-left: 10px;
      }
      &::before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 16px;
        background-color: #ee626b;
        position: absolute;
      }
      h3 {
        color: white;
        @include font-1(48);
        font-weight: 800;
      }
    }
    @include max-width;
    .video {
      width: 930px;
      height: 415px;
      img {
        border-radius: 12px;
      }
      @include d("t") {
        width: 700px;
      }
      @include d("m") {
        width: 350px;
        height: 200px;
      }
    }
  }
}



.numeros {
  @include max-width;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 120px;
  @include d("t") {
    flex-direction: column;
  }
  @include d("m") {
    flex-direction: column;
  }
  gap: 20px;
  div {
    position: relative;
    font-size: 1.125rem;
    background-color: #ffeee9;
    width: 270px;
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-radius: 12px;
    .numero {
      font-size: 2.5rem;
      font-family: "roboto";
      color: $cor-secundaria;
      font-weight: 900;
    }
    &::after {
      content: "";
      position: absolute;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: $cor-secundaria;
      top: -20px;
      right: -22px;
    }
  }
}

.info-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
  border-radius: 12px;
}

.info-feature-itens {
  h3 {
    font-size: 1.5rem;
    font-family: "roboto";
  }
  p {
    @include tipo-2(16);
    color: $cor-3;
    padding: 5px 0;
  }
  @include d("m") {
    width: 350px;
  }
  @include d("t") {
    width: 460px;
  }
  width: 260px;
  height: 130px;
  display: flex;
  align-items: center;
  padding-left: 45px;
  gap: 20px;
}

.accordion-feature {
  @include d("m") {
    width: 350px;
  }
  width: 450px;
  padding: 0px 15px;
  background-color: #fafafa;
  border-radius: 12px;
  dt {
    @include font-1(16);
    padding: 15px 0px;
    &::after {
      margin-top: 10px;
      display: block;
      content: "";
      height: 0.5px;
      background-color: $cor-4;
    }
  }
  dd {
    @include tipo-2(16);
    line-height: 25px;
  }
}

[data-accordion] dt.ativo {
  color: $cor-secundaria;
}

[data-accordion] dd {
  display: none;
}

[data-accordion] dd.ativo {
  display: block;
  animation: show-down-accordion 0.3s forwards;
}

.img-accordion {
  position: relative;
  width: 300px;
  @include d("m") {
    margin-bottom: 60px;
    margin-left: 50px;
  }
  @include d("t") {
    margin-left: 35px;
    margin-bottom: 60px;
    width: max-content;
  }
}

.fotoi {
  display: inline-block;
  padding: 30px;
  position: absolute;
  border-radius: 50%;
  background-color: $cor-secundaria;
  top: 350px;
  left: -40px;
  @include d("m") {
    top: 370px;
  }
  @include d("t") {
    top: 420px;
  }
}

.section-melhor-negocio {
  background-color: #fafafa;
  padding: 50px 0;
  .container-negocio {
    @include max-width;
    .info-melhor-negocio {
      .negocio-titulo {
        span {
          @include font-1(16);
          font-weight: 900;
          position: relative;
          color: #ee626b;
          padding-left: 10px;
        }
        &::before {
          content: "";
          display: inline-block;
          width: 3px;
          height: 16px;
          background-color: #ee626b;
          position: absolute;
        }
        h1 {
          padding-top: 10px;
          @include font-1(48);
        }
      }
      @include d("m") {
        flex-direction: column;
      }
      @include d("t") {
        flex-direction: column;
      }
      padding: 50px 0;
      @include flexbox(end, space-between);
      gap: 60px;
      .lista-negocio {
        @include displayFlex;
        gap: 30px;
        @include d("m") {
          gap: 5px;
        }
        li {
          @include btn
        }
        .ativo {
          background-color: $cor-secundaria;
        }
      }
    }
    .melhor-negocio-item {
      margin-bottom: 200px;
      .lista-info {
        background-color: #fafafa;
        -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
        border-radius: 12px;
        padding: 25px 0;
        width: 261px;
        height: 350px;
        @include flexbox(center, space-between);
        flex-direction: column;
        @include d("m") {
          width: 350px;
        }
        @include d("t") {
          width: 460px;
        }
      }
      gap: 20px;
      @include flexbox(flex-start, space-between);
      @include d("m") {
        flex-direction: column;
        align-items: center;
      }
      @include d("t") {
        flex-direction: column;
        align-items: center;
      }
      .img-negocio {
        width: 460px;
        @include d("m") {
          width: 350px;
        }
      }
      .negocio-texto {
        h2 {
          @include font-1(16);
          letter-spacing: 1px;
        }
        p {
          @include tipo-2(16);
          line-height: 35px;
          color: #5f5a56;
        }
        width: 261px;
        height: 457px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include d("m") {
          width: 350px;
        }
      }
      display: none;
      animation: show-tab 0.6s forwards;
    }
    .ativo {
      display: flex;
    }
  }
}

.calendar {
  font-size: 1rem;
  padding: 10px;
  border-radius: 20px;
}
